Source: gmediafinder
Maintainer: Laguillaumie sylvain <s.lagui@free.fr>
Section: sound
Version: 0.9.7.1
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4), python-distutils-extra, python-setuptools, python-xlib
Standards-Version: 3.8.4
XS-Python-Version: current

Package: gmediafinder
Architecture: all
Depends: ${misc:Depends}, python (>= 2.6), python-gtk2, python-gdata, python-gst0.10, gstreamer0.10-ffmpeg, libvisual-0.4-0, libvisual-0.4-plugins, python-configobj, ffmpeg, python-mechanize, gstreamer0.10-plugins-good, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly, python-xlib, python-glade2
Recommends: libavformat52 | libavformat-extra-52, libavcodec52 | libavcodec-extra-52, libavutil49 | libavutil-extra-49
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Gmediafinder, stream/download multimedia files from the web
 Gmediafinder is a web media browser for youtube videos and some mp3 search engines websites for the sounds
 You can stream or download files play in continue or loop mode and download files too directly from the gui

